/* Styles généraux */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.header {
    width: 100%;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.header .title {
    flex-grow: 1;
    text-align: center;
    margin: 0;
}
.header .back-button {
    margin-left: 10px;
}
.container {
    max-width: 800px;
    margin: 100px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}
.mandatory-note {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
    text-align: center;
}
.ui.action.input input[type="number"] {
    border-radius: 0 5px 5px 0 !important;
}
.ui.buttons .ui.button {
    padding: 0 10px;
}
.ui.buttons .ui.button:first-child {
    border-radius: 5px 0 0 5px !important;
}
.ui.buttons .ui.button:last-child {
    border-radius: 0 5px 5px 0 !important;
}
.ui.right.labeled.input .ui.label {
    border-radius: 0 5px 5px 0 !important;
}



